// Styling for the contact section
footer#contact {
    background: linear-gradient(to bottom, #16222C 0%,#16222C 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    #contactinformation {
        color: #A69766;
    }
}
