// Styling for the contact section
footer#contact {
    background: #16222C;
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;

    #contactinformation {
        color: #A69766;
    }
}
